<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h1>
      <span>{{ title }} app is running!</span>
    </h1>
    <!-- <input [(ngModel)] = "register.email" placeholder="email"><br><br> -->
    <div class="signform">
      <ion-input [(ngModel)]="input.username" class="username" type="text" placeholder="username"></ion-input><br><br>
      <ion-input [(ngModel)]="input.password" class="password" type="password" placeholder="password"></ion-input><br><br>
    </div>
    <div class="actionButton">
      <button (click)="onRegister()" class="signUp">Register User</button><br><br>
      <button (click)="onLogin()" class="login">Login</button>
    </div>
  </div>

</ion-content>
