<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h1>
      <span>{{ title }} app is running!</span>
    </h1>
    <input [(ngModel)] = "input.username" placeholder="username"><br><br>
    <input [(ngModel)] = "input.password" type="password" placeholder="password"><br><br>
    <!-- <input [(ngModel)] = "register.email" placeholder="email"><br><br> -->
    <button (click) = "onRegister()">Register User</button>
    <button (click) = "onLogin()">Login</button>
  </div>

</ion-content>
