.signform {
  width: 100%;
  font-size: larger;
  padding-top: 12%;
}
ion-input, ion-button {
  border: 2px violet solid;
  font-size: 2rem;
  width: 90%;
  margin-left: 5%;
}
ion-button {
  font-size: 1.5rem;
}
