<ion-header>
  <ion-toolbar>
    <ion-title>Index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <button (click)="getUserData()">User</button>
    <ion-input [(ngModel)]="userdata.origin" class="username" type="text" placeholder="Origin"></ion-input><br><br>
    <ion-button expand="block" fill="clear" mode="ios" type="button" (click)="userDataPost()" class="userData">Update</ion-button>
    <ion-button expand="block" fill="clear" mode="ios" type="button" (click)="userDataGet()" class="userData">Get</ion-button>

    <button (click) = "onLogout()">Logout</button>
  </div>
</ion-content>
