<ion-header>
  <ion-toolbar>
    <ion-title>Index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <button (click)="getUserData()">User</button>
    <ion-input [(ngModel)]="userdata.origin" class="username" type="text" placeholder="Planet"></ion-input><br><br>
    <ion-input [(ngModel)]="userdata.continent" class="username" type="text" placeholder="Continent"></ion-input><br><br>
    <ion-input [(ngModel)]="userdata.country" class="username" type="text" placeholder="Country"></ion-input><br><br>

    <ion-button size = "small" fill="clear" mode="ios" type="button" (click)="userDataPost()" class="userData">Post</ion-button>
    <ion-button size = "small" fill="clear" mode="ios" type="button" (click)="userDataGet()" class="userData">Show</ion-button>
    <ion-button size = "small" fill="clear" mode="ios" type="button" (click)="userDataPut()" class="userData">Update</ion-button>
    <ion-button (click) = "onLogout()">Logout</ion-button>
  </div>
</ion-content>
